# ignore node modules
node_modules/

# ignore .env file
.env

# ignore .idea folder
.idea/


# ignore all pycache folders
**/__pycache__/


# ignore db.sqlite3 file
db.sqlite3


# ignore virtual environment folder
virtual_environment/


testing_agentic_ai/